<div class="container shadow  col-md-6 mt-2" >
    <h3 class="text-primary" style="text-align: left;">Register</h3>
<form [formGroup]="registerForm" class="row g-3">
    <div class="col-md-6">
        <label class="form-label">First Name</label>
        <input formControlName="firstName" type="fname" class="form-control" >
        <span *ngIf="registerForm.hasError('required', 'firstName')&&registerForm.controls['firstName'].dirty" class="text-danger mt-2">*Required field</span>
      </div>
      <div class="col-md-6">
        <label class="form-label">Last Name</label>
        <input formControlName="lastName"  type="lname" class="form-control" >
        <span *ngIf="registerForm.hasError('required', 'lastName')&&registerForm.controls['lastName'].dirty" class="text-danger mt-2">*Required field</span>
      </div>
        <div class="col-md-6">
          <label class="form-label">Email</label>
          <input formControlName="email"  type="email" class="form-control" >
          <span *ngIf="registerForm.hasError('required', 'email')&&registerForm.controls['email'].dirty" class="text-danger mt-2">*Required Field</span>
          <span *ngIf="registerForm.hasError('email', 'email')" class="text-danger mt-2">*Valid Email Required</span>
          
        </div>

        <div class="col-md-6">
            <label class="form-label">Username</label>
            <input formControlName="userName"  type="username" class="form-control" >
            <span *ngIf="registerForm.hasError('required', 'userName')&&registerForm.controls['userName'].dirty" class="text-danger mt-2">*Required field</span>
          </div>
        <div class="col-md-6">
          <label class="form-label">Password</label>
          <input formControlName="password"  type="password" class="form-control" >
          <span *ngIf="registerForm.hasError('required', 'password')&&registerForm.controls['password'].dirty" class="text-danger mt-2">*Required field</span>
        </div>
        <div class="col-md-6">
            <label  class="form-label"> Confirm Password</label>
            <input formControlName="confirmPassword"  type="password" class="form-control" >
            <span *ngIf="registerForm.hasError('required', 'confirmPassword')&&registerForm.controls['confirmPassword'].dirty" class="text-danger mt-2">*Required field</span>
            <span *ngIf="registerForm.hasError('confirmPasswordValidators', 'confirmPassword')" class="text-danger mt-2">*Passwords don't match</span>
          </div>
          <button [disabled]="registerForm.invalid" (click)="register()" class="btn btn-primary col-md-2 " style="color: white;">Submit</button>
        </form>
<div class="text-center">
    <span class="text-danger m-3">Already Have an Account ?</span> 
    <a href="" class="text-primary link-opacity-75 pe-auto "> Login Here</a>
</div>
</div>
